html {
    background: url(media/background.jpg);
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Space mono', sans-serif;
}

.container {
    width: 500px;
    height: 700px;
    background-color: lightgray;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 9px 5px rgba(0,0,0,0.75);

    

}

.calculator {
    width: 475px;
    height: 675px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: 'Space Mono', sans-serif;

}

.screen {

    margin-top: 25px;
    height: 75px;
    width: 325px;
    background-color: rgba(0, 128, 0, 0.329);
    border-radius: 3px;
    padding: 10px;
    border-style: inset;
    white-space: normal;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;

}

p {
    margin-left: 10px;
    font-size: 30px;
    margin-right: 10px;
}

.buttonPad {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 213, 213);
    height: 450px;
    width: 350px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;

}
.row1 {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
    text-align: center;
    line-height: 30px;
}
.row2 {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}
.row3 {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}
.row4 {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}
.row5 {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
}


.operator
button {
    background-color: rgb(82, 81, 81);
    height: 40px;
    width: 60px !important;
    border-radius: 4px;
    color: whitesmoke;
    border: none;
    font-family: 'Space Mono', sans-serif;
}

.number
button {

    background-color: rgb(82, 81, 81);
    height: 40px;
    width: 100px !important;
    border-radius: 4px;
    color: whitesmoke;
    border: none;
    font-family: 'Space Mono', sans-serif;
    font-size: 20px;
}

#result {
    width: 150px !important;
    height: 60px;
    background-color: rgb(82,81,81);
    color: whitesmoke;
    border-radius: 4px;
    border: 3px;
    border-style: outset;
    text-align: center;
    line-height: 1.1;
    margin-right: -53px;
    font-family: 'Space Mono', sans-serif;
    font-size: 50px;

}

.buttonPad button {

    border: 3px;
    border-style: outset;
    
}

button:active {
    transform: scale(0.98);
}

#n0 {
    margin-left: 12px;
}

#power2 p {
    text-align: center;
    line-height: 0;
    margin: 0;
    margin-left: 7px;
}